<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950578543441-t7k7sb0ekjvfc7ctn9e1hdulecr9porm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950578543441-t7k7sb0ekjvfc7ctn9e1hdulecr9porm</string>
	<key>API_KEY</key>
	<string>AIzaSyC_egGZXTono7wCq62ejLEgKe3OgNwHw5c</string>
	<key>GCM_SENDER_ID</key>
	<string>950578543441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.proTA.protoypeTa</string>
	<key>PROJECT_ID</key>
	<string>presensi-ddd76</string>
	<key>STORAGE_BUCKET</key>
	<string>presensi-ddd76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950578543441:ios:919294299f86aa71e53170</string>
</dict>
</plist>